<p id="notice"><%= notice %></p>

<h1>Pdf Files</h1>

<table>
  <thead>
    <tr>
      <th>Filename</th>
      <th>References</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pdf_files.each do |pdf_file| %>
      <tr>
        <td><%= pdf_file.filename %></td>
        <td><%= link_to "Download pdf", pdf_file.attachement_url %></td>
        <td><%= link_to 'Show', pdf_file %></td>
        <td><%= link_to 'Edit', edit_pdf_file_path(pdf_file) %></td>
        <td><%= link_to 'Destroy', pdf_file, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pdf File', new_pdf_file_path %>

<!-- test -->

<% if !flash[:notice].blank? %>
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>
