
<%= form_with(model: piece, local: true) do |form| %>
  <% if piece.errors.any? %>
    <div id="error_explanation">
      <h2> prohibited this piece from being saved:</h2>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="callout callout-danger">
          <h5><i class="fas fa-exclamation-circle"></i> <%= pluralize(piece.errors.count, "error") %></h5>
          <ul>
          <% piece.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-9">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="card-title">Informations</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :title %>
            <%= form.text_field :title, :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= form.label :publishing_house_id %>
            <%= collection_select(:piece, :publishing_house_id, PublishingHouse.all, :id, :name, {include_blank: true}, {:class => "form-control"}) %>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <%= form.label :distribution %>
              <%= form.number_field :distribution, :class => "form-control" %>
            </div>
            <div class="col-lg-6">
              <%= form.label :no %>
              <%= form.number_field :no, :class => "form-control" %>
            </div>
            <div class="col-lg-12">
              <%= form.label :divers %>
              <%= form.text_area :divers, :class => "form-control", placeholder: "Enter here ..." %>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-auto">
              <%= form.submit 'Save', :class => 'mt-2 btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
      <!-- /.col-md-3 -->
    </div>
    <!-- /.col-md-6 -->
    <div class="col-lg-3">
      <div class="card">
        <div class="card-header">
          <h5 class="m-0">More</h5>
        </div>
        <div class="card-body">
          <h6 class="card-title">Authors</h6>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>

          <h6 class="card-title">Arranger</h6>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>

          <h6 class="card-title">Genre</h6>

          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <!-- /.col-md-6 -->
  </div>
  <!-- /.row -->

  <div class="field">
    <%= form.label :storage_id %>
    <%= form.number_field :storage_id %>
  </div>
  <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
      More details
    </a>
  </p>
  <div class="collapse" id="collapseExample">
    <div class="card card-body">

    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-lg-12">
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h5 class="card-title">Files</h5>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-lg-6">
            <table class="table table-bordered table-hover" id="table-files">
              <thead>
                <tr>
                  <th>Files</th>
                  <th class="d-">id</th>
                </tr>
              </thead>
              <tbody>
                <% @piece.pdf_files.each do |pdf_file| %>
                <tr>
                  <td><%= pdf_file.attachement.filename %></td>
                  <td class="d-"><%= pdf_file.id %></td>
                </tr>
                <% end %>
              </tbody>
            </table>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
              Add files
            </button>
          </div>
          <div class="col-lg-6">
            <table class="table table-bordered table-hover" id="table-voices">
              <thead>
                  <tr>
                    <th>Voice</th>
                    <th>Start page</th>
                    <th>Nb page</th>
                    <th class="d-">id pdf_file</th>
                    <th class="d-">id pdf_voice</th>
                  </tr>
              </thead>
              <tbody>
                <% @piece.pdf_files.each do |pdf_file| %>
                  <% pdf_file.pdf_voices.each do |pdf_voice| %>
                    <tr>
                      <td><%= pdf_voice.voice.name %></td>
                      <td><%= pdf_voice.start_page %></td>
                      <td><%= pdf_voice.nb_page %></td>
                      <td class="d-"><%= pdf_file.id %></td>
                      <td class="d-"><%= pdf_voice.id %></td>
                    </tr>
                  <% end %>
                <% end %>
              </tbody>
            </table>
            <script>
            $(document).ready( function () {
              let tablevoices = $('#table-voices').DataTable({
                columnDefs: [{
                  "targets": [3,4],
                  "visible": false
                }],
                dom: "rt"
              });
              let tablefiles = $('#table-files').DataTable({
                select: {
                  style: 'single'
                },
                columnDefs: [{
                  "targets": [1],
                  "visible": false
                }],
                dom: "rt"
              });
              tablefiles.on('select', function(e, dt, type, indexes){
                tablevoices.column(3).search(tablefiles.row(indexes).data()[1],true).draw();
              });
              tablefiles.row(0).select();
            });
            </script>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal load file -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Select your files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <%= form_for(@piece, url: add_file_piece_path, multipart: true, method: :post) do |form| %>
        <div class="modal-body">
          <div class="field">
            <%= form.file_field :pdf_file_data, multiple: true, class: "form-control-file" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          <%= form.submit "Upload files", class:"btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
