
<p id="notice"><%= notice %></p>


<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= @piece.title %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to 'Piece', pieces_path %></li>
          <li class="breadcrumb-item active">Edit</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <%= form_with(model: @piece, local: true) do |form| %>
      <div class="row">
        <div class="col-lg-9">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Informations</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <%= form.label :title %>
                <%= form.text_field :title, :class => "form-control", :disabled => true %>
              </div>
              <div class="form-group">
                <%= form.label :publishing_house_id %>
                <%= collection_select(:piece, :publishing_house_id, PublishingHouse.all, :id, :name, {include_blank: true}, {:class => "form-control", :disabled => true}) %>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <%= form.label :distribution %>
                  <%= form.number_field :distribution, :class => "form-control", :disabled => true %>
                </div>
                <div class="col-lg-6">
                  <%= form.label :no %>
                  <%= form.number_field :no, :class => "form-control", :disabled => true %>
                </div>
                <div class="col-lg-12">
                  <%= form.label :divers %>
                  <%= form.text_area :divers, :class => "form-control", :disabled => true, placeholder: "Enter here ..." %>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <%= form.label :storage_id %>
            <%= form.number_field :storage_id %>
          </div>
        </div>
      </div>
      <!-- /.row -->
    <% end %>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
