<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @piece.title %>
</p>

<p>
  <strong>Distribution:</strong>
  <%= @piece.distribution %>
</p>

<p>
  <strong>No:</strong>
  <%= @piece.no %>
</p>

<p>
  <strong>Divers:</strong>
  <%= @piece.divers %>
</p>

<p>
  <strong>Edition:</strong>
  <% if @piece.publishing_house %>
    <%= @piece.publishing_house.name %>
  <% end %>
</p>

<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
