<p id="notice"><%= notice %></p>


<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark"><%= @voice.name %></h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><%= link_to 'Voices', voices_path %></li>
          <li class="breadcrumb-item active">Show</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <%= form_with(model: @voice, local: true) do |form| %>
      <div class="row">
        <div class="col-lg-12">
          <div class="card card-primary card-outline">
            <div class="card-header">
              <h5 class="card-title">Informations</h5>
            </div>
            <div class="card-body">
              <div class="form-group">
                <%= form.label :name %>
                <%= form.text_field :name, :class => "form-control", :disabled => true %>
              </div>
              <div class="row">
                <div class="col-lg-6">
                  <%= form.label :number %>
                  <%= form.number_field :number, :class => "form-control", :disabled => true %>
                </div>
                <div class="col-lg-6">
                  <%= form.label :order %>
                  <%= form.number_field :order, :class => "form-control", :disabled => true %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
    <% end %>
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
