<%= form_with(model: storage, local: true) do |form| %>
  <% if storage.errors.any? %>
    <div class="row">
      <div class="col-lg-12">
        <div class="callout callout-danger">
          <h5><i class="fas fa-exclamation-circle"></i> <h2><%= pluralize(storage.errors.count, "error") %> prohibited this storage from being saved:</h2></h5>
          <ul>
          <% storage.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      </div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-lg-12">
      <div class="card card-primary card-outline">
        <div class="card-header">
          <h5 class="card-title">Informations</h5>
        </div>
        <div class="card-body">
          <div class="form-group">
            <%= form.label :name %>
            <%= form.text_field :name, :class => "form-control" %>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <%= form.label :memo %>
              <%= form.text_field :memo, :class => "form-control" %>
            </div>
            <div class="col-lg-6 form-group">
              <%= form.label :storage_type_id %>
              <%= collection_select(:storage, :storage_type_id, StorageType.all, :id, :name, {include_blank: true}, {:class => "form-control"}) %>
            </div>
            <div class="d-none">
              <%= form.label :storage_id %>
              <%= form.number_field :storage_id, :class => "form-control" %>
            </div>
          </div>
          <div class="row justify-content-end">
            <div class="col-auto">
              <%= form.submit 'Save', :class => 'mt-2 btn btn-primary' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- /.col-md-12 -->
  </div>
  <!-- /.row -->

<% end %>
