<p id="notice"><%= notice %></p>

<h1>Compositors</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @compositors.each do |compositor| %>
      <tr>
        <td><%= compositor.name %></td>
        <td><%= link_to 'Show', compositor %></td>
        <td><%= link_to 'Edit', edit_compositor_path(compositor) %></td>
        <td><%= link_to 'Destroy', compositor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Compositor', new_compositor_path %>
