<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Publishing House</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item active">Publishing house</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-6">
                <h3 class="card-title">Publishing house</h3>
              </div>
              <div class="col-sm-6">
                <%= link_to(new_publishing_house_path, class: "btn btn-success float-right") do %>
                  <i class="fas fa-plus-circle"></i> <span>Add New Publishing house</span>
                <% end %>
              </div>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="houses-table" class="table table-bordered table-striped dt-responsive nowrap dataTable" role="grid" aria-describedby="pieces-info" style="width:100%">
              <thead>
                <tr role="row">
                  <th class="sorting" tabindex="0" aria-controls="houses-table" rowspan="1" colspan="1" aria-label="Publishing house">Publishing house</th>
                  <th>Actions</th>
                </tr>
              </thead>
              <tbody>
                <% @publishing_houses.each do |publishing_house| %>
                <tr role="row" class="odd">
                  <td class="sorting_1"><%= publishing_house.name %></td>
                  <td>
                    <ul class="list-inline">
                      <li class="list-inline-item">
                        <%= link_to(publishing_house) do %>
                          <i class="far fa-eye"></i>
                        <% end %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to(edit_publishing_house_path(publishing_house)) do %>
                          <i class="fas fa-pencil-alt text-warning"></i>
                        <% end %>
                      </li>
                      <li class="list-inline-item">
                        <%= link_to(publishing_house, method: :delete, data: { confirm: 'Are you sure?' }) do %>
                          <i class="fas fa-trash text-danger"></i>
                        <% end %>
                      </li>
                    </ul>
                  </td>
                </tr>
                <% end %>
              </tbody>
              <tfoot>
                <tr>
                  <th class="sorting" tabindex="0" aria-controls="houses-table" rowspan="1" colspan="1" aria-label="Voice">Publishing house</th>
                  <th>Actions</th>
                </tr>
              </tfoot>
            </table>
            <script>
            $(document).ready( function () {
              $('#houses-table').DataTable({
                "order": [[ 1, "asc" ]],
                "columns": [
                  null,
                  { "orderable": false, "searchable": false}
                ]});
            });
            </script>
          </div>
        </div>
        <!-- /.card-body -->
      </div>
    </div>
    <!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
